	.btn-green {
		
		
		border:2px #008800 solid;
		border-radius:2px;
		background-color:#22BB50;
		font-size:20px;
		padding:5px;
		}
	.btn-green:hover {
		
		border:2px #005500 solid;
		
		border-radius:2px;
		background-:#22AA40;
		}
	.btn-green:active {
		border:3px #00AA00 solid;
		padding:4px;
		background-color:#55FF66;
		}
/*KÉK BAL-KÖZÉP-JOBB*/

	.abtn-b-s {
		
		
		border:2px #2255DD solid;
		border-right-style:none;
		border-radius:2px;
		background-color:#4488EE;
		font-size:20px;
		padding:5px;

		}
	.abtn-b-s:hover {
		
		border:2px #1133BB solid;
		border-right-style:none;
		border-radius:2px;
		background-color:#3377DD;

		}
	.abtn-b-s:active {
		border:3px #3355EE solid;
		border-right-style:none;
		padding:4px;
		background-color:#66AAFF;

		}
	.abtn-b {
		
		margin-left:-5px;
		margin-right:-5px;
		border:2px #2255DD solid;
		border-right-style:none;
		border-left-style:none;
		
		background-color:#4488EE;
		font-size:20px;
		padding:5px;

		}
	.abtn-b:hover {
		margin-left:-5px;
		margin-right:-5px;
		border:2px #1133BB solid;
		border-right-style:none;
		border-left-style:none;
		
		background-color:#3377DD;

		}
	.abtn-b:active {
		margin-left:-5px;
		margin-right:-5px;
		border:3px #3355EE solid;
		border-right-style:none;
		border-left-style:none;
		padding:4px;
		background-color:#66AAFF;
		border-left-style:none;
		}
	.abtn-b-e {
		
		
		border:2px #2255DD solid;
		border-radius:2px;
		background-color:#4488EE;
		font-size:20px;
		padding:5px;
		border-left-style:none;
		}
	.abtn-b-e:hover {
		
		border:2px #1133BB solid;
		border-radius:2px;
		background-color:#3377DD;
		border-left-style:none;
		}
	.abtn-b-e:active {
		border:3px #3355EE solid;
		padding:4px;
		background-color:#66AAFF;
		border-left-style:none;
		}

	.abtn-r {
		

		border-radius:2px;
		
		font-size:20px;
		padding:5px;

		background-color:hsl(1,80%,60%);
		border:2px hsl(1,80%,40%) solid;
		}
	.btn-r:hover {
		
		
		border-radius:2px;
		
		padding:4px;
		background-color:hsl(1,80%,55%);
		border:3px hsl(1,80%,20%) solid;
		}
	.btn-r:active {
		
		padding:3px;
		background-color:hsl(1,80%,65%);
		border:4px hsl(1,80%,55%) solid;
		}
