body {
margin:0;
}
#cont {
	margin-top:1%;
	padding:2%;
	border:1px solid red;
	height:1000px;
	position:absolute;
	overflow:auto;
	width:33%;
}
#outcont {
	width:33%;
	}
	.item,.litem .nitem{/*item, Litem is long*/
	
	height:50px;
	margin-bottom:8px;
	color:#111;
	overflow:hidden;
	}
	.item, .litem {
	border:1px solid #555;
	}
	.litem {
	height:120px;
	margin-bottom: 8px;
	}
	.item img, .litem img {
	padding:0;
	}
.item .line,.litem .line, .item img{
	position:absolute;
	}
.line ,.litem{
	overflow:hidden;
	
	}
	.item .line ,.nitem ,line{
	margin-left:52px;
	width:100%;
	}
	.item img {
	border-right:1px solid #AAA;
	}
.grline {/*gray line*/
	font-size:13pt;
	color:#555;
}
.line table {
width:77.5%;
border-collapse:collapse;

}
.line table td {
background:#6F2;
border-top:5px solid white;
height:43px;
}
.line table td:hover {
background:#4D0;
border-top:5px solid #4D0;

}
.item, .litem {
box-shadow:0px 0px 3px #AAA;
}
.item:hover , .litem:hover {
	border: 1px solid #888;
	box-shadow:0px 0px 3px #888;
}
.item:active , .litem:active {
	border: 1px solid #26F;
	box-shadow:0px 0px 3px #26F inset;
}
#feedrlogo {
	font-size:40pt;
	color:#101010;
	}
	#feedrlogo b {
	color:#F62;
	}
#feedrlogo:hover {
	color:#333;
	}
#feedrlogo:active {
	color:#000;
	}
	
.chati img {
border-radius:5px;
}
.chati {
	display:inline;
}
