body {
background:#335;
color:#EEF;
}
#ter {
background:#557;
}
#nev2 {
background:#113;
}
#ter a:hover {
background:#113;
border-bottom:3px solid #779;
}
.options:hover {
background:#779;
}
#focim {
color:#AAC;
}
body {
-webkit-transition:background 0s;
}
pre {
border-left-color:#557;
}
.inp-text:active ,  .inp-text:focus{
border-color:#779;
}
.btn-b {
background:#15C;
color:#FFD;
}
