  body {
      font-family: RobotoDraft, sans-serif;
      color: #303030;
      margin: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      -webkit-touch-callout: none;
      background: #EEE;
  }
  core-toolbar {
      background: #5677fc;
      color: white;
      -webkit-transition: all .5s;
  }
  paper-icon-button { 
      fill: white;
  }
  core-menu {
      border-right: 1px solid #DDD;
      background: white;
      position: fixed;
      bottom: -11px;
      left: -11px;
      width: 233px;
      top: 53px;
      padding: 10px;
      overflow-y: auto;
  }
  core-menu core-item {
      margin: 0 -10px 0 -11px;
      padding: 5px 5px 5px 30px;
      -webkit-transition: border .2s, margin-left .2s, padding .2s;
      cursor: pointer !important;
      border-right: 0px solid #aaa;
  }
  core-menu core-item:hover {
      border-right: 3px solid #ddd;
      font-weight: inherit;
  }
  core-menu core-item.core-selected {
      border-right: 3px solid #5677fc;
      font-weight: inherit;
  }
  core-menu core-item.back {
      background: #ddd;
      border-left: 5px solid #5677fc;
  }
  core-drawer-panel:not([narrow]) #navicon {
      display: none;
  }
  .hideonout {
      -webkit-transition: all .5s;
      display: inline-block;
      max-width: 999px;
  }
  .card {
      padding: 10px;
      margin: 5px;
      box-shadow: 0 2px 3px #BBB;
      background: white;
      border-radius: 0px 0px 2px 2px;
  }
  .inway {
      padding: 20px;
  }
  .away {
      margin: 30px;
  }
  .anorex {
      font-weight: 200;
  }
  .block {
      display: block;
  }
  g {
      color: #666;
  }
  .f-16 {
      font-size: 16px;
      font-weight: normal;
  }
  .q {
      cursor: help;
      border-bottom: 1px dashed #999;
  }
  .collapse {
      transition: all 6s;
      max-height: 38px;
      overflow: hidden;
  }
  .collapse b {
      transition: padding 1s, color .2s, max-height 1s;
      display: block;
      background: #444;
      color: white;
      margin: -10px;
      padding: 10px;
      margin-bottom: 5px;
  }
  .collapse.on b {
      color: transparent;
      padding: 0px !important;
      max-height: 10px;
  }
  .collapse li {
      margin-bottom: 5px;
  }
  .deep-card-title .deep-card {
      background: #dEdEdE;
      box-shadow: 0px 0px 5px #999 inset;
      padding: 10px;
      border-radius: 0px 0px 3px 3px;
  }
  .justify {
      text-align: justify;
  }
  .lh2 {
      font-size: 16px;
      line-height: 20px;
  }
  bb {
      font-weight: 500;
  }
  .inline-table {
      display: inline-table;
  }
  .tabholder {
      padding: 20px;
      margin: 0px;
      background: white;
      display: inline-block;
      -webkit-transition: all 1s;
  }
  .tabholder * {
      -webkit-transition: opacity .5s;
  }
  paper-tab::shadow #ink {
      color: #a6baff;
  }
  paper-tabs::shadow #selectionBar {
      background: #5677fc;
  }
  paper-tabs {
      background: #fefefe;
      color: #444;
      border-radius: 2px 2px 0 0;
  }
  @media (max-width: 840px) {
      .hideonout {
          opacity: 0;
          max-width: 0px !important;
      }
  }
  @media (max-height: 800px) {
      core-menu core-item {
          padding: 3px 5px 3px 30px;
      }
  }
  @media (max-height: 730px) {
      core-menu core-item {
          padding: 1px 5px 1px 30px;
      }
  }
  /*menuelements beállítás*/
  #menuelements>div {
      opacity: 0;
      z-index: -2;
      display: none;
      -webkit-transition: all .5s;
      margin-left: 50px;
  }
  #menuelements>div.on {
      opacity: 1;
      margin-left: 0;
  }
  @-webkit-keyframes loadimg {
      0% {
          opacity: 0.2;
          -webkit-filter: saturate(0%);
      }
      30% {
          -webkit-filter: saturate(0%);
      }
      90% {
          opacity: 1;
      }
      100% {
          -webkit-filter: saturate(100%);
      }
  }
  img.load,
  .loadimg img,
  .self-load {
      opacity: 0;
      -webkit-animation-name: loadimg;
      -webkit-animation-duration: 2s;
      -webkit-animation-delay: .3s;
      -webkit-animation-fill-mode: forwards;
      opacity: 1;
  }
  .self-load {
      opacity: 0;
      -webkit-animation-name: loadimg;
      -webkit-animation-duration: 2s;
      -webkit-animation-fill-mode: forwards;
  }
  paper-ripple {
      position: absolute;
      margin: -10px;
  }
  paper-button[raisedButton].colored {
      background: #fff;
      color: #444;
      text-transform: capitalize;
      margin: 3px;
      min-width: 262px;
      text-align: left;
  }
  paper-button[raisedButton].colored::shadow #ripple {
      color: #4e6cef;
  }
  .grid-container div {
      border: 1px solid red;
  }
  .chip {
      display: inline-block;
      position: relative;
      border-radius: 3px;
      margin: 4px;
      overflow: hidden;
      text-align: start;
      background-color: #fff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
      -webkit-transition: margin .2s;
  }
  .chip-top {
      width: 200px;
      height: 200px;
      overflow: hidden;
  }
  .chip-top img {
      width: 200px;
      height: 200px;
  }
  .chip-bottom {
      width: 180px;
      padding: 8px;
      line-height: 1.5;
      height: 70px;
  }
  .chip-bottom span {
      font-size: 14px;
  }
  .chip.long .chip-top img,
  .chip.long .chip-top {
      height: 250px;
  }
  .mo {
      margin-left: 0;
  }
  .chip.wide .chip-top {
      width: 380px;
      height: 50px;
  }
  .chip.wide .chip-bottom {
      height: 130px;
      width: 360px;
  }
  @media (min-width: 1300px) {
      #menuelements>div {
          width: 975px;
          margin: 0 auto !important;
      }
  }
  .item {
      margin-left: 10px;
  }
  .item {
      position: relative;
      height: 40px;
      line-height: 48px;
      color: #646464;
      font-size: 0.9em;
      padding: 0 5px;
  }
  .mogacs tr td {
      min-width: 50px;
  }
  #fillosztalyok {
      background: white;

      padding-left: 10px;
  }
  #fillosztalyok .item {
      margin-left: 0px;
      transition: all .5s;
  }
  #fillosztalyok .item paper-ripple {
      margin-top: 5px !important;
      height: 42px !important;
      display: none;
  }
  #fillosztalyok .item:hover paper-ripple {
      display: inherit;
  }
  #fillosztalyok .item.selected {
     
      background: white;
      padding: 20px;
      margin: 10px -40px 10px -50px;
      height: 250px;
     
  }
  #fillosztalyok .item.selected .mogacs {
      padding: 15px;
  }
  .item.vegzett {
      transition: all .5s;
  }
  .item.vegzett.hidden {
      height: 0;
      color: white;
      overflow: hidden;
  }
#fillosztalyok .item span {
    display: none;
    opacity:0; 
    transition:1s all;
}
#fillosztalyok .item.selected span {
    display: block;
    opacity:1;
    margin-top: 20px;
}
span k {
    margin:5px;
}